include INSTALL ChangeLog
include tc_scripts/*
include freddist/*
include freddist/command/*
include setup.cfg
include rpm-install.sh

include conf/pyfred.conf.install
include conf/genzone.conf.install
