[bdist_rpm]
requires=python-omniORB, omniORB-servers, python-clearsilver, postgresql-python, python-dns, ldns
install-extra-opts=--prefix=/usr --sysconfdir=/etc --localstatedir=/var --include-scripts
