[bdist_rpm]
requires=libomniORBpy3-devel, omniORB-servers, omniORB-bootscripts, python-clearsilver, postgresql-python, python-dns, ldns
install-extra-opts=--prefix=/usr --sysconfdir=/etc --localstatedir=/var
